---
import { getCollection } from 'astro:content'
import type { Post } from '@/content/config'

import Base from '@/layouts/Base.astro'
import PostPreview from '@/components/PostPreview.astro'

export async function getStaticPaths() {
  const allPosts = await getCollection('posts')

  const uniqueTags = [
    ...new Set(allPosts.map((post: Post) => post.data.tags).flat()),
  ]

  return uniqueTags.map((tag: string) => {
    const filteredPosts = allPosts.filter((post: Post) =>
      post.data.tags.includes(tag)
    )
    return {
      params: { tag },
      props: { posts: filteredPosts },
    }
  })
}

const { tag } = Astro.params
const { posts }: { posts: Post[] } = Astro.props
---

<Base meta={{ title: 'Posts tagged with ' + tag }}>
  <h2 class="mb-10 text-2xl font-heading tracking-wide w500:text-lg">
    Posts tagged with <span class="text-text dark:text-darkText">#{tag}</span>
  </h2>
  <div class="w700:grid-cols-1 grid grid-cols-2 gap-5">
    {
      posts.map((post: Post) => (
        <PostPreview
          url={'/' + post.slug}
          title={post.data.title}
          description={post.data.description}
          pubDate={post.data.pubDate}
        />
      ))
    }
  </div>
</Base>
