---
import Base from '@/layouts/Base.astro'
---

<Base meta={{ title: 'About' }}>
  <h2 class="text-2xl font-heading tracking-wide w500:text-lg">About</h2>

  <div class="mt-4 tracking-wide w500:text-sm w500:leading-[2.2]">
    <p>
      This is my blogging website where I write about various topics. 
    </p>
  </div>
</Base>
