---
import Base from '@/layouts/Base.astro'
---

<Base meta={{ title: 'About' }}>
  <h2 class="text-2xl font-heading tracking-wide w500:text-lg">About</h2>

  <div class="mt-4 tracking-wide w500:text-sm w500:leading-[2.2]">
    <p>
      This is neobrutailsm blog template. Check the <a
        class="underline"
        target="_blank"
        href="https://github.com/neobrutalism-templates/blog">github repo</a
      > for more info.
    </p>
  </div>
</Base>
