<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="text-text dark:text-darkText">
    <script>
      function init() {
        document.documentElement.classList.add('scroll-smooth')
        // adding scroll-smooth class to html tag manually didn't work so I'm adding that class this way

        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }

        setTimeout(() => {
          document.body.classList.add('duration-300', 'transition-colors')
        }, 300)

        // im adding those classes with 300ms delay, so theres no flashing on inital page load
      }

      init()
      document.addEventListener('astro:after-swap', init)
    </script>

    <slot />
  </body>
</html>
